{% extends "layout.html" %}
{% block content %}
	{% if current_user.is_authenticated %}
		<div class="media-body">
			<a href="{{ url_for('new_security') }}" class="btn btn-outline-info mb-3">Create New Security</a>
		</div>
    	{% for security in securities.items %}
			<article class="media content-section">
				<div class="media-body">
					<div class="article-metadata">
						<small class="text-muted">
							{{ security.date_posted.strftime('%Y-%m-%d') }}
						</small>
					</div>
					<h2>
						<a href="{{ url_for('security', security_title=security.title) }}" class="article-title">
							{{ security.title }}
						</a>
					</h2>
				</div>
			</article>
		{% endfor %}
    {% else %}
    	<div class="media-body">
    		<a href="{{ url_for('register') }}" class="btn btn-outline-info mb-3">Create an account now!</a>
    	</div>
    {% endif %}
{% endblock content %}